/*
    Просто, блядь, пиздец, какие уёбищные у Фесбука стили.
    Особенно имена классов охуенные.
    Нагенерили какой-то срани, я ебал.
*/

div[id^="u_0_c"],
div[id^="u_0_d"],
div[id^="u_0_e"] {
    display: none;
}

body,
#u_0_14,
#u_0_15 {
    margin: 0 !important;
}

#globalContainer {
    width: 100% !important;
}

#pagelet_bluebar,
.hasLeftCol #leftCol,
#rightCol {
    display: none;
}

#contentCol._1ql0 {
    width: 100% !important;
}

#contentArea ._5pbx {
    font-size: 18px;
}

#contentArea._14i5 {
    right: unset;
}

#contentArea._1qkx {
    width: 100% !important;
}

._5v3q {
    padding: 15px;
}
